.ksp-demo div.parent-mark{
    padding: 4px 8px 4px 8px;
    border: 2px solid lightblue;
    margin: 4px;
}

.ksp-demo .ksp-icons {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
}

.ksp-demo .ksp-icons svg {
    height: 20px;
    vertical-align: middle;
}